rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	// authentication required
    function isSignedIn() {
      return request.auth != null;
    }

    // authentication not required
    function notAuthenticated() {
      return request.auth == null;
    }
    
    match /{document=**} {
      allow read, write: if notAuthenticated();
    }
  }
}