@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

@font-face {
  font-family: 'MonaspaceArgon';
  src: url('/fonts/MonaspaceArgon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;


*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

.border {
  border: 1px solid #000;
}

.card-border {
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-color: #B0B0B0;

  
}

.border-none {
  border-style: none;
  outline: none;
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }
}

.mention {
	color: black;
  font-weight: 600;
}


.cursor {
  position: absolute;
  width: 1px;
  height: 20px; 
  background-color: black; 
  animation: blink 1s infinite; 
}

@keyframes blink {
  0%, 100% {
    opacity: 0; 
  }
  50% {
    opacity: 1;
  }
}

.tiptap a {
  text-decoration: underline;
  color: steelblue;
}

.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scale-button {
  transition: transform 0.2s ease;
  height: 100%;
  width: 100%;
  transform: scale(0.95);
}

.scale-button:hover {
  transform: scale(1);
}

.scale-button:active {
  transform: scale(0.85);
}