@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&family=Rubik:wght@400;500;600&display=swap');

@font-face {
  font-family: 'MonaspaceArgon';
  src: url('/fonts/MonaspaceArgon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-primary-text font-rubik;
}


/* @TODO: check if we actually need that */
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #C1B9CF;
}

button {
  @apply cursor-pointer bg-transparent;
}

ul {
  @apply list-none p-0 m-0;
}

li {
  @apply p-0 m-0;
}


.border-none {
  @apply border-0 outline-none;
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.mention {
  @apply text-black font-semibold;
}

.cursor {
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.tiptap a {
  @apply underline text-blue-600;
}

.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scale-button {
  @apply transition-transform duration-200 ease-in-out w-full h-full;
  transform: scale(0.95);
}

.scale-button:hover {
  transform: scale(1);
}

.scale-button:active {
  transform: scale(0.85);
}
textarea {
  @apply bg-background;
}
input {
  @apply bg-background;
}
.bn-editor {
  @apply bg-background;
}